<!DOCTYPE html>
<html>
<head>
  <title>A Vue.js Calculator</title>
  <!-- directly using vue.js -->
  <!-- for production version, use vue.min.js -->
  <!-- we shall use development version, includes helpful console warnings -->
  <!-- <script src="vue.js"></script> --> 

  <!-- using CDN -->
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    p, input { font-family: monospace; }
    p { white-space: pre; }
  </style>
</head>
<body>
  <div id="app">
    <p>x <input v-model.number="x"></p>
    <select v-model="selectedOp">
        <option v-for="op in operators" >{{ op }}</option>
    </select>
    <p>y <input v-model.number="y"></p>
    
    <p>---------------------</p>

    <p>= {{result}}</p>
  </div>
 
  <script>
    //TODO: create a Vue instance to complete the task

    Vue.createApp({

      data() {
        return {
          operators : ["+", "-", "*", "/", "%"],
          selectedOp : "+",
          x : "",
          y : "",
        }
      },

      computed: {
        result() {

          if (this.selectedOp == "+") {
            return parseFloat(this.x) + parseFloat(this.y)
          }
          else if (this.selectedOp == "-") {
            return parseFloat(this.x) - parseFloat(this.y)
          }
          else if (this.selectedOp == "*") {
            return parseFloat(this.x) * parseFloat(this.y)
          }
          else if (this.selectedOp == "/") {
            return parseFloat(this.x) / parseFloat(this.y)
          }
          else {
            return parseFloat(this.x) % parseFloat(this.y)
          }


          //idk why cannot use eval fml
          // evalStr = this.x + this.selectedOp + this.y
          // if (evalStr == "") {
          //   evalStr = "0"
          // }
          // console.log(typeof(evalStr))
          // return eval(evalStr)
        }
      }

    }).mount("#app")


  </script>
</body>
</html>
