<!DOCTYPE html>
<html>
<head>
    <title>ShoppingCart</title>
    <!-- directly using vue.js -->
    <!-- for production version, use vue.min.js -->
    <!-- we shall use development version, includes helpful console warnings -->
    <!-- <script src="vue.js"></script> --> 

    <!-- using CDN -->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id='app'>
        <h2>Shopping Cart</h2>
        <ul>
            <li v-for="(item, i) in items">
                {{item}}
            <button @click="items.splice(i, 1)">Delete!</button> </li>
        </ul>
        <input @keyup.enter="add" v-model="newItem"/>
        <button @click="add">Add!</button>    
    </div> 
    <script>
        const vm = Vue.createApp({ 
            data() {
                return {
                    items: ['keyboard', 'mouse', 'iPhone', 'macbook', 'adapter'],
                    newItem: ''
                }
            },
            methods: {
                add() {
                    // console.log('in add')
                    this.items.push(this.newItem)
                    this.newItem = ''
                }
            }
        }).mount('#app')
    </script>

   

</body>
</html>