<!DOCTYPE html>
<html>
<head>
    <title>ex4</title>
   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

     <!-- using CDN -->
     <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
   
    <div id="app">
      
      
            <div class="mb-3">
                <label for="desc" class="form-label">Task</label>
                <input type="text" class="form-control" id="desc" v-model='desc' placeholder="task">
            </div>
            <div class="mb-3">
                <label for="deadline" class="form-label">Deadline</label>
                <input type="date" class="form-control" id="deadline" v-model='deadline' placeholder="deadline">
            </div>
        
            <button type="button" @click="add" class="btn btn-primary">Add New Task</button>
            <hr>

            <!-- TODO: Modify following code -->

            <!-- must bind to tasklist, not to deadline and desc as above cuz udw to listen n watch it change, uw make new task as they are added -->

            <!-- wrong code:
            <task-tracker v-bind:desc="desc" v-bind:deadline="deadline" @remove="help"></task-tracker> -->

            <task-tracker 
            v-for="(task, index) in taskList" 
            v-bind:task="task"  
            v-bind:key="index"
            v-bind:index="index"
            v-on:remove="removeTask">

            </task-tracker>
                 
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    desc: '',
                    deadline: '',
                    taskList: []
                }
            },
            methods: {
                add() {
                    this.taskList.push( { 'desc': this.desc, 'deadline': this.deadline } )
                    this.desc = ''
                    this.deadline = ''
                },
                // TODO: Add a new method, to delete a task completed
                removeTask(index) {
                    this.taskList.splice(index,1)
                }
            }
        })

        app.component('task-tracker', {  
            // TODO: implement task-tracker component 

            //if the props are not strings, it refreshes everytime it changes T.T IDK WHY BUT UM YEA

            //wrong code:
            //props: [desc, deadline],

            props: ["task", "index"],

            emits: ["remove"],

            template: `
            
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Deadline: {{ task.deadline }}
                        </h5>
                        <hr>
                        <p class="card-text">
                            {{ task.desc }}
                        </p>
                        <button class="btn btn-primary" @click="donetask">Done</button>
                    </div>
                </div>

            `,

            methods: {
                donetask() {
                    this.$emit("remove", this.index)
                }
            }

        })

        app.mount('#app')

    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>