<!DOCTYPE html>
<html>
<head>
    <title>ConditionalRender</title>
    <!-- directly using vue.js -->
    <!-- for production version, use vue.min.js -->
    <!-- we shall use development version, includes helpful console warnings -->
    <!-- <script src="vue.js"></script> --> 

    <!-- using CDN -->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <h1>Please select your login option</h1>
        <!-- Add/modify code in the following to have a dropdown list 
            which lets the user to select either to login with username or email -->
        <!-- use vmodel to listen to this chunk u gets -->
        <select v-model="loginType">
            <option selected value="username" >Username login</option>
            <option >Email login</option>
        </select>
        <!-- need another quotation mark around 'username' cuz thats the value -->
        <div v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username">
        </div>
        <div v-else>
            <label>Email</label>
            <input placeholder="Enter your email address">
        </div>
    </div>
          
    <script>
        // add code here
        Vue.createApp({
            data(){
                return {
                    loginType : "username"
                }
            },
        }).mount("#app")
    </script>
 
</body>
</html>